.reveal img,
.reveal video,
.reveal iframe {
  width: -webkit-fill-available;
  max-height: unset;
}

.center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

img {
  border: none !important;
}

.reveal pre {
  width: unset;
}
