.reveal img,
.reveal video,
.reveal iframe {
  max-width: 90vw;
  max-height: 64vh;
}

.center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

img {
  border: none !important;
}

.reveal pre {
  width: unset;
}
